---
---
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo title=false %}
  <title>{% if page.title %}{{page.title}} | {%elsif post.title %}{{post.title}} | {%endif%}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/css/site.css" | absolute_url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.12.0/css/tachyons.min.css">
</head>

<body class="helvetica">
  <div class="mw8 center">
    <header>
      <h1 class="tc">{{site.title}}</h1>
      {% assign nav_pages =  site.html_pages | where_exp: "page", "page.name != 'index.html'" %}
      <nav class="bt bb tc center mt4">
        <a class="{% if page.name == 'index.html'%}b {%endif%}f6 f5-l link bg-animate black-80 hover-black hover-bg-light-green dib pa3 ph4-l" href="{{"index.html" | absolute_url}}">Home</a>
        {% if nav_pages.size> 0%}
        {% for nav_page in nav_pages %}
        <a class="{% if page.name == nav_page.name %}b {%endif%}f6 f5-l link bg-animate black-80 hover-black hover-bg-light-green dib pa3 ph4-l" href="{{nav_page.url | absolute_url}}">{{nav_page.title}}</a>
        {% endfor %}
        {% endif %}
      </nav>
    </header>
    <section class="measure-wide center">{{content}}</section>
  </div>
</body>

</html>
